@page "/History"
@using Bankapp.Domain
@inject IAccountService AccountService

<h3>History</h3>

<div class="mb-3">
    <label class="form-label">Välj Konto</label>
    <InputSelect @bind-Value="_selectedAccountId" class="form-select" @onchange="LoadTransactions">
        <option value="@Guid.Empty">-- Välj ett konto --</option>
        @foreach (var account in _accounts)
        {
            <option value="@account.Id">@account.Name</option>
        }
    </InputSelect>
</div>


@code {
    private List<IBankAccount> _accounts = new();
    private List<Transaction> _transactions = new();
    private Guid _selectedAccountId = Guid.Empty;

    protected override async Task OnInitializedAsync()
    {
        _accounts = (await AccountService.GetAccountsAsync()).ToList();
    }
    private async Task LoadTransactions(ChangeEventArgs e)
    {
        //Kod kommer snart
    }

}